.orabbitContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orabbitImage {
    width: 800px;
}

.orabbitImage img {
    width: 100%;
}

.orabbitText {
    width: 900px;
    margin-left: 30px;
    margin-right: 30px;
}

.orabbitText ul {
    text-align: left;
}

.orabbitText button {
    background-color: #535bf2;
}

.orabbitText button a {
    color: #fff;
}

.orabbitText button:hover {
    background-color: #4046c6;

}