.staiconmeContainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.staiconmeImage {
    width: 800px;
}

.staiconmeText {
    width: 900px;
    margin-left: 30px;
    margin-right: 30px;
}

.staiconmeImage img {
    width: 100%;
}



.staiconmeText ul {
    text-align: left;
}

.staiconmeText button {
    background-color: #535bf2;
}

.staiconmeText button a {
    color: #fff;
}

.staiconmeText button:hover {
    background-color: #4046c6;

}

@media  screen and (max-width: 1100px) {
    .staiconmeContainer {
        flex-direction: column;
        gap: 30px;
    }

    .staiconmeImage {
        width: 50%;
    }

    .staiconmeText {
        width: 75%;
        margin-left: 30px;
        margin-right: 30px;
    }

    .staiconmeText p {
        margin-left: 30px;
        margin-right: 30px;
    }
}

.carousel-indicators {
    display: none !important;
}