.anagrafica {
    width: 100vw;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.anagraficaHero {
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.anagraficaHero img {
    height: 500px;
}

.anagraficaDescription {
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.containerSx {
    width: 50vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerSx img {
    height: 300px;
}

.containerDx {
    width: 50vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}