.mainLavori {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.heroLavori {
    height: 500px;
    margin-bottom: 40px;
}

.heroLavori img {
    height: 100%;
    width: 100%;
}

.dataLavori {

    display: flex;
    margin-top: 10px;
}

.dataLavori img {
    height: 100%;
    max-height: 400px;
}

.dataLavoriSx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.dataLavoriDx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.dataLavoriDx p {
    margin: 0 20px !important;
    text-align: left;
    margin-bottom: 20px !important;
}

.dataLavoriSx p {
    margin: 0 20px !important;
    text-align: left;
    margin-bottom: 20px !important;
}

@media screen and (max-width: 1579px) {
    .dataLavori {
        flex-direction: column;
    }

    .dataLavoriSx {
        width: 100%;
    }

    .dataLavoriDx {
        width: 100%;
    }

}

@media screen and (min-width: 1580px) {
    .dataLavori {
        flex-direction: row;
        height: 500px;
    }

    .dataLavoriSx {
        width: 50%;
    }

    .dataLavoriDx {
        width: 50%;
    }

}