.mainStudi {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.heroStudi {
    height: 500px;
    margin-bottom: 40px;
}

.heroStudi img {
    height: 100%;
    width: 100%;
}

.dataStudi {
    display: flex;
    margin-top: 10px;
}

.dataStudi img {
    height: 100%;
}

.dataStudiSx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.dataStudiDx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.dataStudiDx p {
    margin: 0 20px !important;
    text-align: left;
    margin-bottom: 20px !important;
}

.dataStudiSx p {
    margin: 0 20px !important;
    text-align: left;
    margin-bottom: 20px !important;
}

@media screen and (max-width: 1579px) {
    .dataStudi {
        flex-direction: column;
    }

    .dataStudiSx {
        width: 100%;
    }

    .dataStudiDx {
        width: 100%;
    }

}

@media screen and (min-width: 1580px) {
    .dataStudi {
        flex-direction: row;
        height: 500px;
    }

    .dataStudiSx {
        width: 50%;
    }

    .dataStudiDx {
        width: 50%;
    }

}