.itContainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.itImage {
    width: 800px;
}

.itText {
    width: 900px;
    margin-left: 30px;
    margin-right: 30px;
}

.itImage img {
    width: 100%;
}



.itText ul {
    text-align: left;
}

.itText button {
    background-color: #535bf2;
}

.itText button a {
    color: #fff;
}

.itText button:hover {
    background-color: #4046c6;

}

@media  screen and (max-width: 1100px) {
    .itContainer {
        flex-direction: column;
        gap: 30px;
    }

    .itImage {
        width: 50%;
    }

    .itText {
        width: 75%;
        margin-left: 30px;
        margin-right: 30px;
    }

    .itText p {
        margin-left: 30px;
        margin-right: 30px;
    }
}

.carousel-indicators {
    display: none !important;
}